.dapps {
    background-color: $gray-13;
    border-bottom: 1px solid $gray-6;
    padding: 20px 0;
    margin: 60px 0 20px 0;


    &_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_img {
        width: 200px;
        height: 210px;
        position: relative;
        bottom: -20px;
        flex: 1;
    
        img {
            overflow: hidden;
            position: absolute;
            bottom: 0;
            height: 321px;
            object-fit: contain;
        }
    }

    &_content{
        flex: 1;
    }

    &_content-title {
        max-width: 289px;
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 550;
    }

    &_content-subtitle {
        max-width: 448px;
        margin-bottom: 16px;
        font-size: 16px;
        color: $gray-3;
    }

    &_content-link {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    &_open-app {
        display: none;
    }

    &_cr {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 8px;
        text-align: center;
    }

    &_cr-title {
        max-width: 158px;
        font-size: 14px;
        color: $gray-19;
    }

    @include media(1023) {

        &_row {
            justify-content: start;
        }

        &_open-app {
            width: 100%;
            display: block;
            padding: 12px 20px;
            background-color: $gray-1;
            border-radius: 8px;
            text-align: center;
            font-size: 16px;
            font-weight: 550;
        }

        &_content-link {
            display: none;
        }

        &_cr {
            display: none;
        }
    }

    @include media(640){


        &_row{
            height: 400px;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }

        &_img{
            width: 300px;

            img{
                height: 300px;
            }
        }
    }
}