.footer{
    padding: 60px 0 0 0;
    background-color: $gray-10;

    &_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    

    &_list{
        max-width: 270px;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &_list-name{
        font-size: 14px;
        color: $gray-19;
    }

    &_list-title{
        font-size: 16px;
        color: $gray-11;
        transition: all 0.1s ease;

        &:hover{
            color: $gray-1;
        }
    }

    &_list-row{
        display: flex;
        column-gap: 15px;
        margin-bottom: 20px;
    }

    &_list-other{
        font-size: 18px;
        color: $gray-11;
    }

    &_data{
        padding: 40px 0;
        border-top: 1px solid $gray-20;
        display: flex;
        justify-content: space-between;
    }

    &_data-title{
        color: $gray-19;
    }

    @include media(845){
        &_row{
            row-gap: 40px;
        }
    }

    @include media(750){
        &_data{
            margin-bottom: 40px;
        }
    }
}