.info {
    padding: 24px 0;
    background-color: $gray-13;

    &_list {
        display: flex;
        justify-content: space-between;
    }

    &_card {
        max-width: 264px;
        width: 100%;
        padding: 0 10px;
    }

    @include media(750) {
        &_list {
            flex-direction: column;
            row-gap: 20px;
        }

        &_card {
            max-width: 100%
        }

    }
}


.toggleBtn {
    display: block;
    margin-top: 10px;
    color: #007aff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
}