.praductslist {

    &_title{
        padding: 16px 0;
        font-size: 30px;
        font-weight: 550;
    }

    &_row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        column-gap: 10px;
        row-gap: 20px;
        padding-bottom: 10px;
    }

    &_card{
        height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_more-btn{
        display: block;
        margin: 20px auto;
        width: 400px;
        height: 40px;
        padding: 8px 12px;
        background-color: $gray-17;
        transition: all 0.2s ease;
        border-radius: 8px;
        font-weight: 550;

        &:hover{
            background-color: $gray-2;
        }
    }

    @include media(750){

        &_title{
            font-size: 20px;
        }

        &_row{
            row-gap: 30px;
            column-gap: 20px;
        }

        &_more-btn{
            width: 100%;
        }
    }
}