// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);



// Colors
$gray-1: #ffbe1f;
$gray-2: #FFD671;
$gray-3: #505c6a;
$gray-4: #FFEDC2;
$gray-5: #bbb;
$gray-6: #e3e8ea;
$gray-7: #a5b1bb;
$gray-8: #FEBD1F;
$gray-9: #788998;
$gray-10: #24272c;
$gray-11: #fff;
$gray-12: #2a8be7;
$gray-13: #F4F6F7;
$gray-14: #ffca48;
$gray-15: #ff4444;
$gray-16: #EEF0F1;
$gray-17: #FFE299;
$gray-18: #F7F8F9;
$gray-19: #5d6d7d;